
body {
    font-family: sans-serif;    
    color: #000000;
    font-weight: 100;
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}



#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    justify-content: center;
    grid-template-columns: 1fr;
    
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



.navbar a {
    text-decoration: none;
    color: #000000;
    
}



main {
    grid-area: main;
}

main img {
    width: 100%;
}

footer {
    grid-area: footer;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #f1f1f1;
    background-color: #252525 ;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Index */


.top-index {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
}


.top-index-video {
    display: none; 
    object-fit: cover;
    width: 100%; 
    height: 40vh; 
    grid-area: 1 / 1;
    
}


.top-index-img {
    object-fit: cover;
    width: 100%; 
    height: 40vh; 
    grid-area: 1 / 1;
}

.top-index-text {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:#000;
    background-color:#ffffff82;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    grid-area: 1 / 1;
}

.top-index-text h1 {
    font-size: 1.8rem;
    margin: 0;
}

.subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}


.company {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e6bd43;
    padding-bottom: 3rem;
    padding-top: 3rem;
    
}

.company-text {
    align-items: center;
    width: 50%;
}

.company-button {
    display: block;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    color: #000000;
    background-color: #e6bd43;
    border: 3px solid #000000;
    font-weight: 750;
    font-size: 1rem;
    padding: 1rem;
}
    



.newsletter {
    background-color: #f1f1f1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.newsletter h4 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.newsletter input {
    border: none;
    width: auto;
    padding: 18px;
    max-width: 160px;
}

.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    


/* About */

.top_about{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.top_about img {
    object-fit:cover;
    width: 100%; 
    height: 70vh; 
    grid-area: 1 / 1;
}

.top_text {
    height: auto;
    color:#000;
    background-color:#ffffffd0;
    width: 55%;
    grid-area: 1 / 1;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
   
}

.clients {
    background-color: #e6bd43;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.clients h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.clients figure { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin: 0;
}

.clients img {
    width: 90%;
}

.heading {
    text-align: center;
    place-items: center;
    background-color: #f1f1f1;
    font-size: 1.5rem;
    padding-top: 4rem;
    margin: 0;
}

.flex-section-about {
    background-color: #f1f1f1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
}

.flex-section-about h5 {
    font-size: 1.2rem;
    margin: 0;
}


.send {
    display: flex;
    width: auto;
    flex-direction: column;
    max-width: 500px;
    padding-bottom: 2rem;
}

.send input, textarea {
    border: none;
    padding: 1rem;

}

.send button{
    margin-top: 0.5rem;
}

.contact_information {
    display: flex;
    width: auto;
    flex-direction: column;
    max-width: 500px;
}

.contact_information .fa-solid {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}



.google-maps{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 0%;  
}





 





/* Products.html */

.top-portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.top-portfolio img {
    object-fit:cover;
    width: 100%; 
    height: 40vh; 
    grid-area: 1 / 1;
}

.top-portfolio h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#000;
    background-color:#ffffff82;
    grid-area: 1 / 1;
    margin: 0;
    font-size: 2rem;
}

.line-heading h2 {
    border-bottom: 2px solid #FFAE42;
    padding-bottom: 0.5rem;
}

.line-heading {
    padding-bottom: 1rem;
    padding-top: 1rem;
   
}

.portfolio-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    
}

.category-button{
    display: flex;
    width:auto;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 10px;
    
}

.flex-section-portfolio {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
   
}

.flex-section-portfolio img {
    height: auto;
    display: flex;
    flex-wrap: wrap; 
    max-width: 692px;
    transition: transform 0.3s ease-in-out;
}

.flex-section-portfolio img:hover {
    transform: scale(1.05); 
}

.flex-section-portfolio figure {
    flex-grow: 1;
    margin: 0;
    gap: 1rem;
    font-weight: 700;
}

.flex-section-portfolio figcaption {
    padding-top: 1rem;
    padding-bottom: 1rem;
}





/* All pages */

#arrow {
    position: fixed; 
    text-decoration: none;       
    color: #ffffff;  
    background-color: #252525; 
    bottom: 2rem;      
    right: 1rem;  
    padding: 1rem 1rem;
    border-radius: 5px; 
    font-size: 1rem; 
}

.underline {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:#e6bd43;
}

.orange-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    background-color: #e6bd43;
    text-decoration: none;
    color: #000000;
    width: fit-content;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 1rem;
    font-weight: 750;
    font-size: 1rem;
}


.our_services {
    display: grid; 
    text-align: center;
    gap: 10px; 
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
}

.our_services > h2 {
    grid-column: 1 / -1; 
}

.our_services p {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fa-solid{
    color: #252525;
    font-size: 2rem;
}

.fa-brands{
    color: white;
    background-color: #252525;
    text-decoration: none;
    font-size: 2rem;
}

  
.some {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 2rem;
}










@media only screen and (min-width: 750px) {

    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }


    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        flex-direction: row;
        gap: 1rem;
    }

    #logo {
        margin-right: auto; 
    }

    .top-index-video {
        display: block; 
    }
    .top-index-img {
        display: none; 
    }

    .top-index-video {
        width: 100%; 
        height: 40vh; 
        object-fit: cover;
        grid-area: 1 / 1;
    }
    
    .top-index-text p {
       width: 70%;
    }
 
    .subheading p {
        width: 70%;
    }



    .orange-button:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .company-button:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .category-button:hover {
        background-color: #252525;
        color: #e6bd43;
    }

    .top_text {
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: 5rem;
    }

    .flex-section-about {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
    }

    .send {
        width: 100%;
        min-width: 350px;
    }
    
   
    footer {
        display: flex;
        flex-direction: row;;
        flex-wrap: wrap;
        justify-content: space-between; 
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
    
    .company {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .company-text {
        padding-left: 1rem;
    }



    .flex-img {
        flex-flow: row nowrap;
        display: flex;
    }
    

    .flex-section-portfolio figure {
        flex-basis: 32%;
        margin: 0; 
        display: flex;
        justify-content: flex-start; 
        flex-wrap: wrap;
    }
    
    
    .flex-img-alone {
        max-width: 55%;
    }
    
    
    .flex-double-img {
        flex-basis: 50%;
        flex-flow: row nowrap;
    }

   
}

